* {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: #191414 !important;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    text-align: center !important;
    color: #1DB954 !important;
}

.head {
    font-size: 50pt !important;
}


h2 {
    text-align: center;
    color: white !important;
    font-size: 16pt !important;
    font-family: 'Raleway', sans-serif !important;
}

h3 {
    text-align: center;
    color: gray !important;
    font-size: 12pt !important;
}

h4 {
    color: white !important;
    font-size: 16pt;
    text-align: center;
}

h5 {
    color: white !important;
    font-size: 12pt !important;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
}

a {
    color: #1DB954 !important;
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
}

.hidden {
    color: white !important;
    text-decoration: none !important;
}

a:hover {
    color: #137d38 !important;
}

.entry {
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    align-items: center;  /*Aligns vertically center */  
}

.text {
    display: flex; 
    text-align: left;
    align-items: center;  /*Aligns vertically center */  
    padding-left: 15px;  
    word-wrap: anywhere !important;
}

.textBlock {
    display: block; 
    text-align: left;
    align-items: center;  /*Aligns vertically center */  
    padding-left: 15px;   
    word-wrap: break-word !important;
}

.textNoFlex {
    text-align: left;
    align-items: center;  /*Aligns vertically center */  
    padding-left: 15px;  
    word-wrap: break-word !important;
}

.title {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #282828;
    width: 100%;
    margin: 0 !important;
}

.row {
    margin: 0;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #282828;
    height: auto;
    width: auto;
}

.tile {
    display: flex; 
    height: 100px;
    width: auto;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.artist_img {
    height: 100px !important;
    width: 100px !important;
    min-height: 100px !important;
    min-width: 100px !important;    
    object-fit: cover !important;
    border-radius: 50%;
}

.toggle {
    text-align: center;
    margin-bottom: 25px;
    padding-top: 15px;
}

.user {
    color: white;
    text-align: center;
}

#login {
    padding-top: 25px;
    padding-bottom: 25px;    
}

.abscenter {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    align-items: center;
}

.logout {
    color: gray !important;
    font-size: 10pt;
    text-decoration: none !important;
}

.number {
    width: 50px !important;
    min-width: 50px !important;
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
}